body {

  height:100%;
  padding: 50px;
  font-family: 'Open Sans', sans-serif;
  z-index:0;

}

a {
  color: #00B7FF;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: scroll;
    z-index:1;
}

.shade {
    position: relative;
    z-index:3;
}


.content {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index:2;
    background-color:rgba(0,0,0,.7);
}

.helloworld {
    font-size:2em;
    color:white;
}

.video {
  z-index:-1;
  position: fixed;
  top: 50%; left: 50%;
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
}
