body {

    height:100%;
    /*padding-left: 2%;*/
    /*padding-right: 2%;*/
    font-family: 'Open Sans', sans-serif;
}

.logo {
    position:relative;
    left:1em;
    margin-top:1em;
    margin-bottom:1em;
    /*background-image:url('images/logo.png');*/
    z-index:500;
    opacity:.5;
}

a {
  color: #00B7FF;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index:0;
}

.becomeAMentor {
    transition: all .1s ease-in-out;
    cursor:pointer;
    font-size:2em;
    border-radius:.5em;
    border: 2px solid #ccc;
    background-color:rgba(0,0,0,.5);
    position:absolute;
    top:3%;
    right:5%;
    color:white;
    z-index:500;
    padding:1em;
    box-shadow:0px 0px 5px 6px rgba(255, 204, 168, 0.5);
}

.becomeAMentor:hover {
    transform: scale(1.05);
    color: #c9ffdf;
}


.shade {
    position: relative;
    z-index:1;
}


.content {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index:2;
    background-color:rgba(0,0,0,.5);
    overflow: hidden;
}

.helloworld {
    font-size:2em;
    color:white;
}

.video {
  z-index:3;
  position: fixed;
  top: 50%; left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
}

.modal-backdrop {
    z-index:4;
}
.modal, .modal-dialog {
    z-index:1000;
}

.card {
    background-color:#061117;
    color:white;
}





#profilePicUpload {
    max-width:20em;
}

#upload-input {
    display: none;
}